
@import "../aui/alloy-font-awesome/scss/variables";
@import "../aui/alloy-font-awesome/scss/mixins-alloy";

/* datepicker fix */

.yui3-skin-sam {
	.yui3-calendarnav-prevmonth,
	.yui3-calendarnav-nextmonth {
		&,
		&:hover {
			background: none;
			text-decoration: none;
		}
	}

	.yui3-calendar-content {
		padding: 0px;
		background: none;
		border: 0 none;
		color: inherit;
	}

	.yui3-calendar-day {
		color: black;
	}

	.yui3-calendarnav-nextmonth:after {
		@include icon($chevron-right);
	}

	.yui3-calendarnav-prevmonth:after {
		@include icon($chevron-left);
	}
}
