.euro {
	display: inline-block;
	position: relative;
	
	> i.icon-euro {
		position: absolute;
		bottom: 18px;
		right: 5px;
	}
	
	&.disabled-wrapper {
		> i.icon-euro {
			cursor: not-allowed;
		}
	}
	
	&.active-wrapper {
		> .field {
			&:focus + i, &:hover + i {
				display: none;
			}
		}
	}
}