form.form-table {
	overflow: overlay;
	table {
		thead > tr > th {
			width: 200px;
		}
		tbody > tr > td {
			.control-group {
				margin-bottom: 0;
				&.shooter-name {
					position: relative;
					.delete-icon {
						width: 24px;
						height: 24px;
						position: absolute;
						right: 0;
						top: 3px;
						background-image: url('images/delete.png');
						cursor: pointer;
						cursor: hand;
					}
				}
			}
			&:not(:first-child) {
				text-align: center;
				input[type='number'] {
					width: 80%;
				}
			}
		}
	}
}