#noBold th {
  font-weight: normal; }

#noBold th:nth-child(n+2) {
  text-align: center; }

#noBold td:nth-child(n+2) {
  text-align: center; }

.table-cv {
  width: 100%;
  font-weight: bold; }

.table-cvAzzurri {
  width: 100%;
  font-weight: normal;
  backgroud-color: none; }
  .table-cvAzzurri tr td:first-child {
    width: 185px; }

.aui .table.cvMedagliere td {
  background-color: transparent; }

.aui .table th.cvMedaglie, .aui .table td.cvMedaglie {
  width: 50px;
  text-align: center; }

