#wrapper {
  overflow-x: hidden; }

.aui {
  /* --- YUI calendar --- */
  /* datepicker fix */
  /* Color Set 1 */
  /* $blue: #3498db; */
  /* $blue-darken: #2980b9; */
  /* $grey: #DFDFDF; */
  /* $grey-darken: #B9B9B9; */
  /* Color Set 2 */ }
  .aui .calendar-list-empty-message {
    color: #999999; }
  .aui .calendar-list-item {
    color: #004080; }
  .aui .calendar-list-item-hover, .aui .calendar-list-item-active {
    background-color: #0a50a1; }
  .aui .calendar-list-item-arrow {
    background-color: black;
    border: 1px solid #bbbbbb;
    color: #003366; }
    .aui .calendar-list-item-arrow:hover {
      background-color: black;
      color: #0a50a1; }
  .aui .calendar-list-item-color {
    border: 1px solid #dfdfdf; }
  .aui .calendar-list-item-hidden .calendar-list-item-label {
    color: #555555; }
  .aui .calendar-portlet .calendar-portlet-column-grid {
    position: relative; }
    .aui .calendar-portlet .calendar-portlet-column-grid .calendar-portlet-column-toggler {
      bottom: 0;
      margin-left: -10px;
      position: absolute;
      top: 0;
      width: 10px; }
      .aui .calendar-portlet .calendar-portlet-column-grid .calendar-portlet-column-toggler:hover {
        background: #dfdfdf; }
  .aui .calendar-event-answer.calendar-event-answer-false, .aui .calendar-event-answer.calendar-event-answer-false:hover {
    color: #555555; }
  .aui .calendar-portlet-list-arrow {
    background: url(@theme_image_path@/aui/icon_sprite.png) -34px -18px; }
  .aui .calendar-portlet-list-header {
    color: #004080; }
    .aui .calendar-portlet-list-header:hover {
      background-color: #0a50a1;
      color: #004080; }
  .aui .calendar-portlet-wrapper {
    background: white; }
  .aui .scheduler-event-recorder-header .scheduler-event-recorder-content {
    background: white;
    border: 1px solid #999999; }
  .aui .scheduler-event-recorder-header .scheduler-event-recorder-content:hover {
    background: white;
    border-color: #999999; }
  .aui .simple-menu .simple-menu-content {
    background: none repeat scroll 0 0 white; }
  .aui .simple-menu-item {
    color: #004080; }
    .aui .simple-menu-item:hover {
      background-color: #bbbbbb;
      border: dotted #bbbbbb; }
  .aui .simple-menu-separator {
    border-top: 1px solid #004080; }
  .aui .simple-color-picker-item:hover, .aui .simple-color-picker-item-selected {
    border-color: #000 !important; }
  .aui .yui3-skin-sam .calendar-portlet-mini-calendar .yui3-calendar-content {
    background: #FFFFFF !important;
    border: 1px solid #DDD; }
  .aui .yui3-skin-sam .calendar-portlet .yui3-calendar-weekday {
    color: #003366; }
  .aui .yui3-skin-sam .calendar-portlet .yui3-calendar-day:hover, .aui .yui3-skin-sam .calendar-portlet .yui3-calendar-day.yui3-calendar-day-selected:hover, .aui .yui3-skin-sam .calendar-portlet .yui3-calendar-day.yui3-calendar-day-selected.lfr-busy-day:hover {
    background: #BBB;
    color: #FFF; }
  .aui .yui3-skin-sam .calendar-portlet .yui3-calendar-day.yui3-calendar-day-selected, .aui .yui3-skin-sam .calendar-portlet .yui3-calendar-day.yui3-calendar-day-selected.lfr-busy-day {
    background-color: #F2F2F2; }
  .aui .yui3-skin-sam .calendar-portlet .yui3-calendar-day.lfr-current-day {
    color: #FFF !important;
    background-color: #009BE6 !important; }
  .aui .yui3-skin-sam .calendar-portlet .lfr-busy-day:after {
    content: '\25CF'; }
  .aui .yui3-skin-sam .yui3-calendarnav-prevmonth, .aui .yui3-skin-sam .yui3-calendarnav-prevmonth:hover,
  .aui .yui3-skin-sam .yui3-calendarnav-nextmonth,
  .aui .yui3-skin-sam .yui3-calendarnav-nextmonth:hover {
    background: none;
    text-decoration: none; }
  .aui .yui3-skin-sam .yui3-calendar-content {
    padding: 0px;
    background: none;
    border: 0 none;
    color: inherit; }
  .aui .yui3-skin-sam .yui3-calendar-day {
    color: black; }
  .aui .yui3-skin-sam .yui3-calendarnav-nextmonth:after {
    font-family: 'fontawesome-alloy';
    font-weight: normal;
    font-style: normal;
    text-decoration: inherit;
    -webkit-font-smoothing: antialiased;
    *margin-right: .3em;
    content: "\f054"; }
  .aui .yui3-skin-sam .yui3-calendarnav-prevmonth:after {
    font-family: 'fontawesome-alloy';
    font-weight: normal;
    font-style: normal;
    text-decoration: inherit;
    -webkit-font-smoothing: antialiased;
    *margin-right: .3em;
    content: "\f053"; }
  .aui .lfr-pagination .lfr-pagination-delta-selector {
    float: none; }
  .aui h1 small, .aui h2 small, .aui h3 small,
  .aui h4 small, .aui h5 small, .aui h6 small {
    color: #959292; }
  .aui .brand.logo > img {
    display: inline-block;
    margin-right: 15px;
    vertical-align: middle;
    position: relative;
    top: -2px;
    width: auto;
    height: 60px; }
  .aui #navigation li {
    line-height: 40px;
    font-size: 15px; }
  .aui .modify-pages .delete-tab {
    -webkit-transition: opacity 200ms;
    -moz-transition: opacity 200ms;
    -o-transition: opacity 200ms;
    transition: opacity 200ms;
    top: 12px;
    right: 5px;
    text-shadow: 0px 1px #FFF, 0px -1px white, 1px 0px white, -1px 0px white; }
  .aui .nav-menu ul {
    padding-left: 0; }
    .aui .nav-menu ul li {
      list-style: none; }
  .horizontal .aui .nav-menu ul {
    margin: 0; }
  .horizontal .aui .nav-menu li {
    *zoom: 1;
    *width: 20%;
    display: inline-block;
    min-width: 20%;
    vertical-align: top; }
  .aui .portlet,
  .aui .forced-box .portlet-borderless-container {
    margin: 0 0 1em; }
  .aui .portlet-topper {
    margin: 2px 0px;
    /* 		.portlet-topper-toolbar .portlet-icon-back { */
    /* 			background-color: #1A4775; */
    /* 			padding: 5px; */
    /* 		} */ }
  .aui .portlet-title {
    font-size: 16.25px;
    line-height: 1em;
    margin: 0px;
    text-transform: uppercase; }
  .aui .portlet-title-text {
    font-size: 1em;
    line-height: 22.75px; }
  .aui .portlet-content,
  .aui .portlet-minimized .portlet-content-container {
    padding: 0px;
    margin: 1em 0; }
  .aui .sticky .nav {
    margin-bottom: 0px; }
  .aui span[id^='p_'] {
    position: relative;
    top: -3em; }
  .aui .navbar .brand {
    padding: 5px 20px; }
  .aui .navbar .nav > li > a.user-notification-link {
    padding-top: 10px;
    padding-bottom: 9px; }
  .aui .navbar .nav > li.message > a, .aui .navbar .nav > li.message > a:hover, .aui .navbar .nav > li.message > a:focus, .aui .navbar .nav > li.message > a:active {
    background: white; }
  .aui .dockbar-user-notifications .user-notifications-count,
  .aui .notifications-portlet .user-notifications-count {
    background: #003366;
    color: white;
    text-shadow: none; }
  .aui .dockbar .nav li.dropdown.dockbar-user-notifications .dropdown-menu {
    padding: 5px 0px; }
  .aui #idOne p {
    font-size: 18px; }
  .aui #idtwo p {
    font-size: 22px; }
  .aui .renewal-form label {
    vertical-align: bottom; }
  .aui .renewal-form .control-group {
    vertical-align: 1.5px; }
  .aui .aui-search-bar .control-label {
    margin-bottom: 4px; }
  .aui .aui-search-bar .btn {
    vertical-align: 4px; }
  .aui .organization-history > div {
    display: inline-block;
    margin-right: 15px; }
    .aui .organization-history > div.name {
      width: 28%; }
    .aui .organization-history > div.code {
      width: 9%; }
    .aui .organization-history > div.state {
      width: 11%; }
    .aui .organization-history > div.variation {
      width: 25%; }
    .aui .organization-history > div.dateChange {
      width: 11%; }
  .aui .organization-history .control-group {
    width: 100%; }
    .aui .organization-history .control-group input {
      width: 100%; }
  .aui .detail h4 {
    font-size: 18px;
    font-weight: bold; }
  .aui .detail p {
    font-size: 16px;
    min-height: 20px; }
  .aui .detail-error .warning {
    font-size: 18px;
    color: orange; }
  .aui .detail-error .error {
    font-size: 18px;
    color: red; }
  .aui .soonExpiration {
    color: red !important; }
  .aui .flightDates {
    font-size: 15px; }
  .aui .formButton {
    float: left;
    margin-right: 15px; }
  .aui .row {
    margin-left: 0 !important; }
  .aui .box {
    display: flex;
    padding-top: 10px;
    padding-bottom: 10px; }
  .aui .interBox {
    padding-right: 10px; }
  .aui .taglib-page-iterator .search-results {
    float: none;
    line-height: normal;
    margin-left: 10px;
    vertical-align: -5px; }
  .aui .taglib-page-iterator .lfr-pagination-buttons {
    float: right;
    margin: 0; }
  .aui .taglib-page-iterator .lfr-pagination-config {
    line-height: normal; }
  .aui #breadcrumbs .breadcrumb {
    list-style: none;
    display: inline-block;
    background-color: transparent;
    font-size: 15px;
    padding: 8px 15px 8px 0px; }
    .aui #breadcrumbs .breadcrumb .icon {
      font-size: 14px; }
    .aui #breadcrumbs .breadcrumb li {
      float: left;
      border-right-width: 1px;
      border-right-style: solid;
      border-right-color: #1a4775; }
      .aui #breadcrumbs .breadcrumb li:nth-child(even) {
        border-right-color: #476b8e; }
      .aui #breadcrumbs .breadcrumb li.last, .aui #breadcrumbs .breadcrumb li.only {
        border-right-width: 0px; }
      .aui #breadcrumbs .breadcrumb li .divider {
        display: none; }
      .aui #breadcrumbs .breadcrumb li a {
        color: #FFF;
        display: block;
        background: #476b8e;
        text-decoration: none;
        position: relative;
        height: 29px;
        line-height: 30px;
        padding: 0 10px 0 5px;
        text-align: center;
        margin-right: 23px; }
      .aui #breadcrumbs .breadcrumb li:nth-child(even) a {
        background-color: #1a4775; }
        .aui #breadcrumbs .breadcrumb li:nth-child(even) a:before {
          border-color: #1a4775;
          border-left-color: transparent; }
        .aui #breadcrumbs .breadcrumb li:nth-child(even) a:after {
          border-left-color: #1a4775; }
      .aui #breadcrumbs .breadcrumb li:first-child a {
        padding-left: 15px;
        /*                 @include border-radius(4px 0 0 4px); */ }
        .aui #breadcrumbs .breadcrumb li:first-child a:before {
          border: none; }
      .aui #breadcrumbs .breadcrumb li:last-child a {
        padding-right: 15px;
        /*                 @include border-radius(0 4px 4px 0); */ }
        .aui #breadcrumbs .breadcrumb li:last-child a:after {
          border: none; }
      .aui #breadcrumbs .breadcrumb li.only a {
        /*         		@include border-radius(4px 4px 4px 4px); */ }
      .aui #breadcrumbs .breadcrumb li a:before, .aui #breadcrumbs .breadcrumb li a:after {
        content: "";
        position: absolute;
        top: 0;
        border: 0 solid #476b8e;
        border-width: 15px 10px;
        width: 0;
        height: 0; }
      .aui #breadcrumbs .breadcrumb li a:before {
        left: -19px;
        border-left-color: transparent; }
      .aui #breadcrumbs .breadcrumb li a:after {
        left: 100%;
        border-color: transparent;
        border-left-color: #476b8e; }
      .aui #breadcrumbs .breadcrumb li a:hover {
        background-color: #b9b9b9; }
        .aui #breadcrumbs .breadcrumb li a:hover:before {
          border-color: #b9b9b9;
          border-left-color: transparent; }
        .aui #breadcrumbs .breadcrumb li a:hover:after {
          border-left-color: #b9b9b9; }
      .aui #breadcrumbs .breadcrumb li a:active {
        background-color: #b9b9b9; }
        .aui #breadcrumbs .breadcrumb li a:active:before {
          border-color: #b9b9b9;
          border-left-color: transparent; }
        .aui #breadcrumbs .breadcrumb li a:active:after {
          border-left-color: #b9b9b9; }

/* ---------- Dockbar ---------- */
@media (max-width: 979px) {
  .aui * {
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0); }
  .aui #heading {
    bottom: 100%;
    position: absolute; }
    .aui #heading .site-title {
      font-size: 26px; }
      .aui #heading .site-title img {
        width: 35px; }
  .aui #navigation .nav {
    margin: 0;
    display: none; }
    .aui #navigation .nav > li {
      float: none; }
  .aui #navigation.open {
    /* ???? */
    				/*.navbar-inner {
    					@include border-radius(3px);
    
    					padding: 10px;
    
    					.nav-collapse {
    						height: auto;
    						overflow: visible;
    						display: block;
    						left: 0px;
    
    						> li {
    							float: none;
    						}
    					}
    				}*/ }
    .aui #navigation.open .nav {
      display: block; }
  .aui .dockbar-split .dockbar, .aui .dockbar {
    float: right;
    height: auto;
    position: relative;
    z-index: 401; }
    .aui .dockbar-split .dockbar .info-items, .aui .dockbar .info-items {
      height: auto;
      position: static;
      width: 300px; }
    .aui .dockbar-split .dockbar .navbar-inner, .aui .dockbar .navbar-inner {
      width: auto; }
      .aui .dockbar-split .dockbar .navbar-inner .btn-navbar, .aui .dockbar .navbar-inner .btn-navbar {
        background: transparent;
        border: none;
        float: left;
        font-size: 24px;
        padding: 12px 15px; }
        .aui .dockbar-split .dockbar .navbar-inner .btn-navbar:hover, .aui .dockbar .navbar-inner .btn-navbar:hover {
          background-color: #5BBAE8; }
        .aui .dockbar-split .dockbar .navbar-inner .btn-navbar.open, .aui .dockbar .navbar-inner .btn-navbar.open {
          background-color: #F5AF45; }
      .aui .dockbar-split .dockbar .navbar-inner .nav-account-controls, .aui .dockbar .navbar-inner .nav-account-controls {
        padding: 0 5px; }
        .aui .dockbar-split .dockbar .navbar-inner .nav-account-controls .user-avatar-image, .aui .dockbar .navbar-inner .nav-account-controls .user-avatar-image {
          display: none; }
      .aui .dockbar-split .dockbar .navbar-inner .nav-add-controls, .aui .dockbar .navbar-inner .nav-add-controls {
        background: transparent;
        border-top-width: 0;
        position: static;
        z-index: 350;
        padding: 0 5px; }
        .aui .dockbar-split .dockbar .navbar-inner .nav-add-controls > li, .aui .dockbar .navbar-inner .nav-add-controls > li {
          float: none;
          margin: 0;
          position: relative; }
          .aui .dockbar-split .dockbar .navbar-inner .nav-add-controls > li.toggle-controls a, .aui .dockbar .navbar-inner .nav-add-controls > li.toggle-controls a {
            clip: rect(auto auto auto auto);
            position: static;
            visibility: visible; }
          .aui .dockbar-split .dockbar .navbar-inner .nav-add-controls > li .page-preview-controls, .aui .dockbar .navbar-inner .nav-add-controls > li .page-preview-controls {
            display: none; }
          .aui .dockbar-split .dockbar .navbar-inner .nav-add-controls > li > a, .aui .dockbar .navbar-inner .nav-add-controls > li > a {
            background: transparent;
            text-align: left;
            white-space: nowrap; }
            .aui .dockbar-split .dockbar .navbar-inner .nav-add-controls > li > a:hover, .aui .dockbar .navbar-inner .nav-add-controls > li > a:hover {
              background: #F3f3f3; }
            .aui .dockbar-split .dockbar .navbar-inner .nav-add-controls > li > a [class^="icon-"], .aui .dockbar-split .dockbar .navbar-inner .nav-add-controls > li > a [class^="icon-"], .aui .dockbar-split .dockbar .navbar-inner .nav-add-controls > li > a [class*=" icon-"], .aui .dockbar .navbar-inner .nav-add-controls > li > a [class^="icon-"], .aui .dockbar .navbar-inner .nav-add-controls > li > a [class^="icon-"], .aui .dockbar .navbar-inner .nav-add-controls > li > a [class*=" icon-"] {
              font-size: 22px;
              margin-top: 0; }
            .aui .dockbar-split .dockbar .navbar-inner .nav-add-controls > li > a.toggle-controls-link, .aui .dockbar .navbar-inner .nav-add-controls > li > a.toggle-controls-link {
              background: transparent; }
              .aui .dockbar-split .dockbar .navbar-inner .nav-add-controls > li > a.toggle-controls-link [class^="icon-"], .aui .dockbar-split .dockbar .navbar-inner .nav-add-controls > li > a.toggle-controls-link [class^="icon-"], .aui .dockbar-split .dockbar .navbar-inner .nav-add-controls > li > a.toggle-controls-link [class*=" icon-"], .aui .dockbar .navbar-inner .nav-add-controls > li > a.toggle-controls-link [class^="icon-"], .aui .dockbar .navbar-inner .nav-add-controls > li > a.toggle-controls-link [class^="icon-"], .aui .dockbar .navbar-inner .nav-add-controls > li > a.toggle-controls-link [class*=" icon-"] {
                color: #FFF; }
            .aui .dockbar-split .dockbar .navbar-inner .nav-add-controls > li > a .nav-item-label, .aui .dockbar .navbar-inner .nav-add-controls > li > a .nav-item-label {
              background: transparent;
              display: inline;
              left: 0;
              margin-left: 0;
              margin-top: 0;
              padding: 0;
              position: relative; }
            .aui .dockbar-split .dockbar .navbar-inner .nav-add-controls > li > a:hover .nav-item-label, .aui .dockbar .navbar-inner .nav-add-controls > li > a:hover .nav-item-label {
              display: inline; }
            .aui .dockbar-split .dockbar .navbar-inner .nav-add-controls > li > a .icon-caret-down, .aui .dockbar .navbar-inner .nav-add-controls > li > a .icon-caret-down {
              display: none; }
      .aui .dockbar-split .dockbar .navbar-inner .nav-collapse, .aui .dockbar .navbar-inner .nav-collapse {
        z-index: 400; }
        .aui .dockbar-split .dockbar .navbar-inner .nav-collapse.open, .aui .dockbar .navbar-inner .nav-collapse.open {
          overflow: visible; }
        .aui .dockbar-split .dockbar .navbar-inner .nav-collapse > .nav, .aui .dockbar .navbar-inner .nav-collapse > .nav {
          background: white;
          border-width: 0;
          left: auto;
          margin: 0;
          min-width: 160px;
          position: absolute;
          right: 0;
          z-index: 400; }
          .aui .dockbar-split .dockbar .navbar-inner .nav-collapse > .nav > li.dropdown .dropdown-menu li a, .aui .dockbar .navbar-inner .nav-collapse > .nav > li.dropdown .dropdown-menu li a {
            font-size: 16px;
            line-height: 32px; }
          .aui .dockbar-split .dockbar .navbar-inner .nav-collapse > .nav > li.dropdown.open > .dropdown-toggle, .aui .dockbar .navbar-inner .nav-collapse > .nav > li.dropdown.open > .dropdown-toggle {
            color: #FFFFFF; }
          .aui .dockbar-split .dockbar .navbar-inner .nav-collapse > .nav > li > a, .aui .dockbar .navbar-inner .nav-collapse > .nav > li > a {
            color: #080808;
            font-size: 16px;
            margin: 5px 0;
            padding: 6px 15px;
            text-shadow: none; }
            .aui .dockbar-split .dockbar .navbar-inner .nav-collapse > .nav > li > a:focus, .aui .dockbar-split .dockbar .navbar-inner .nav-collapse > .nav > li > a:hover, .aui .dockbar .navbar-inner .nav-collapse > .nav > li > a:focus, .aui .dockbar .navbar-inner .nav-collapse > .nav > li > a:hover {
              background-color: #eeeeee;
              color: #080808; }
  .aui .portlet-dockbar {
    display: inline-block;
    width: 100%; }
  .aui .signed-out #_145_navAddControlsNavbarBtn {
    display: none; } }

