// NAVBAR
// -----------------------------------------------------

.navbar {

	&.navbar-inverse {

		.navbar-inner {
			background-image: none;
			
			background: -moz-linear-gradient(left,  rgba(0,51,102,0.5) 0%, rgba(0,51,102,0.51) 1%, rgba(0,51,102,1) 100%);
			background: -webkit-gradient(linear, left top, right top, color-stop(0%,rgba(0,51,102,0.5)), color-stop(1%,rgba(0,51,102,0.51)), color-stop(100%,rgba(0,51,102,1)));
			background: -webkit-linear-gradient(left,  rgba(0,51,102,0.5) 0%,rgba(0,51,102,0.51) 1%,rgba(0,51,102,1) 100%);
			background: -o-linear-gradient(left,  rgba(0,51,102,0.5) 0%,rgba(0,51,102,0.51) 1%,rgba(0,51,102,1) 100%);
			background: -ms-linear-gradient(left,  rgba(0,51,102,0.5) 0%,rgba(0,51,102,0.51) 1%,rgba(0,51,102,1) 100%);
			background: linear-gradient(to right,  rgba(0,51,102,0.5) 0%,rgba(0,51,102,0.51) 1%,rgba(0,51,102,1) 100%);
			filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#80003366', endColorstr='#003366',GradientType=1 );

		}
		
		.brand:hover {
			background-color: inherit;
		}
	}
}

#footer > div.footer-content {
	
	background: -moz-linear-gradient(left,  rgba(0,51,102,0.5) 0%, rgba(0,51,102,0.51) 1%, rgba(0,51,102,1) 100%);
	background: -webkit-gradient(linear, left top, right top, color-stop(0%,rgba(0,51,102,0.5)), color-stop(1%,rgba(0,51,102,0.51)), color-stop(100%,rgba(0,51,102,1)));
	background: -webkit-linear-gradient(left,  rgba(0,51,102,0.5) 0%,rgba(0,51,102,0.51) 1%,rgba(0,51,102,1) 100%);
	background: -o-linear-gradient(left,  rgba(0,51,102,0.5) 0%,rgba(0,51,102,0.51) 1%,rgba(0,51,102,1) 100%);
	background: -ms-linear-gradient(left,  rgba(0,51,102,0.5) 0%,rgba(0,51,102,0.51) 1%,rgba(0,51,102,1) 100%);
	background: linear-gradient(to right,  rgba(0,51,102,0.5) 0%,rgba(0,51,102,0.51) 1%,rgba(0,51,102,1) 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#80003366', endColorstr='#003366',GradientType=1 );

	min-height: 40px;
}


