/* Color Set 1 */

/* $blue: #3498db; */
/* $blue-darken: #2980b9; */
/* $grey: #DFDFDF; */
/* $grey-darken: #B9B9B9; */

/* Color Set 2 */

$blue: #476B8E;
$blue-darken: #1A4775;
$grey: #DFDFDF;
$grey-darken: #B9B9B9;


#breadcrumbs .breadcrumb {
    list-style: none;
    display: inline-block;
    background-color: transparent;
    font-size: 15px;
    padding: 8px 15px 8px 0px;
    .icon {
        font-size: 14px;
    }
    li {
        float: left;
        border-right-width: 1px;
		border-right-style: solid;
		border-right-color: $blue-darken;
		&:nth-child(even) {
			border-right-color: $blue;
		}
		&.last, &.only {
			border-right-width: 0px;			
		}
    	.divider {
    		display: none;
    	}
        a {
            color: #FFF;
            display: block;
            background: $blue;
            text-decoration: none;
            position: relative;
            height: 29px;
            line-height: 30px;
            padding: 0 10px 0 5px;
            text-align: center;
            margin-right: 23px;
        }
        &:nth-child(even) {
            a {
                background-color: $blue-darken;
                &:before {
                    border-color: $blue-darken;
                    border-left-color: transparent;
                }
                &:after {
                    border-left-color: $blue-darken;
                }
            }
        }
        &:first-child {
            a {
                padding-left: 15px;
/*                 @include border-radius(4px 0 0 4px); */
                &:before {
                    border: none;
                }
            }
        }
        &:last-child {
            a {
                padding-right: 15px;
/*                 @include border-radius(0 4px 4px 0); */
                &:after {
                    border: none;
                }
            }
        }
        &.only {
        	a {
/*         		@include border-radius(4px 4px 4px 4px); */
        	}
        }
        a {
            &:before, &:after {
                content: "";
                position: absolute;
                top: 0;
                border: 0 solid $blue;
                border-width: 14.5px 10px;
                width: 0;
                height: 0;
            }
            &:before {
                left: -19px;
                border-left-color: transparent;
            }
            &:after {
                left: 100%;
                border-color: transparent;
                border-left-color: $blue;
            }
            &:hover {
                background-color: $grey-darken;
                &:before {
                    border-color: $grey-darken;
                    border-left-color: transparent;
                }
                &:after {
                    border-left-color: $grey-darken;
                }
            }
            &:active {
                background-color: $grey-darken;
                &:before {
                    border-color: $grey-darken;
                    border-left-color: transparent;
                }
                &:after {
                    border-left-color: $grey-darken;
                }
            }
        }
    }
}
