form.form-table {
  overflow: overlay; }
  form.form-table table thead > tr > th {
    width: 200px; }
  form.form-table table tbody > tr > td .control-group {
    margin-bottom: 0; }
    form.form-table table tbody > tr > td .control-group.shooter-name {
      position: relative; }
      form.form-table table tbody > tr > td .control-group.shooter-name .delete-icon {
        width: 24px;
        height: 24px;
        position: absolute;
        right: 0;
        top: 3px;
        background-image: url("images/delete.png");
        cursor: pointer;
        cursor: hand; }
  form.form-table table tbody > tr > td:not(:first-child) {
    text-align: center; }
    form.form-table table tbody > tr > td:not(:first-child) input[type='number'] {
      width: 80%; }

.data-list .category-label {
  background: #7F98B2;
  color: white;
  font-weight: bold;
  text-align: center; }
.data-list .sector-label {
  background: #036;
  color: white;
  text-align: center; }

.view-mode {
  cursor: not-allowed;
  pointer-events: none; }

.nationalMatchResultWrapper {
  overflow-x: scroll; }
  .nationalMatchResultWrapper .nationaMatchResultSmall {
    max-width: 30px; }
  .nationalMatchResultWrapper .nationaMatchResultMedium {
    max-width: 900px; }
  .nationalMatchResultWrapper .aui inpu {
    width: 130px; }
  .nationalMatchResultWrapper .aui select {
    width: 145px; }
  .nationalMatchResultWrapper .italianShooter {
    width: 130px; }
  .nationalMatchResultWrapper .sportTypeId-input {
    width: 130px; }
  .nationalMatchResultWrapper .field {
    width: 130px; }
  .nationalMatchResultWrapper .extNation_class {
    width: 100px; }
  .nationalMatchResultWrapper .control-group shooter-name {
    width: 130px; }

.extNation_class {
  width: 100px; }

.control-group shooter-name {
  width: 130px; }

.search-container-medium-height .searchcontainer {
  max-height: 300px;
  overflow: auto; }

.TeamResult_class {
  width: 50px; }

#p_p_id_10_WAR_esffitavportlet_ .portlet-icon-back {
  display: none; }

